.elementor-element.bubble {
  border-radius: var(--br-md);
  padding: var(--s-lg);
  padding-right: 7rem;

  --path: url("../images/blauw-element-flipvh.svg");
  -webkit-mask-image: var(--path);
  mask-image: var(--path);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: top left;

  &--flipv {
    --path: url("../images/blauw-element-fliph.svg");
    mask-position: bottom right;
  }
}
