@use "breakpoints" as bp;

// FORMS
.elementor-element.newsletter {
  &__form {
    .gform_validation_errors {
      display: none;
    }

    .validation_message {
      background: var(--c-negatief-1);
      border-radius: 2rem;
      padding: var(--s-2sm) var(--s-2md);
      color: var(--c-aubergine);
    }

    .gform_fields {
      display: flex;
      flex-direction: row;
      gap: var(--s-sm);

      .gfield {
        flex: 1;
        align-items: flex-start !important;

        input,
        .gform-button.button {
          width: 100%;
          border-radius: 3rem;
          background: rgba(white, 0.25);
          color: var(--c-wit);
          border: none;
          height: 54px;
          padding: var(--s-2sm) var(--s-2md);
        }
        .gform-button.button {
          background: var(--c-blauw);
          font-weight: 700;
        }
      }

      @include bp.mobile {
        flex-direction: column;
      }
    }
    .gform-footer {
      display: none;
    }
  }
}

.elementor-element.applyform {
  .gform_required_legend,
  .gf_progressbar_title {
    display: none;
  }

  .gf_progressbar_wrapper {
    position: absolute;
    left: 0;
    bottom: -2rem;
    margin: 0;
    width: 100%;
    z-index: 999;
    background: var(--c-licht-blauw-1);
    border-radius: 0;

    .gf_progressbar {
      background: none;
    }

    .gf_progressbar_percentage {
      background: var(--c-blauw);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .gform_fields,
  .gform-page-footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: calc(100% / 3);
  }
  .gfield {
    flex: auto;
    width: 33%;

    input,
    select {
      background: var(--c-input);
      border: none;
      border-radius: 0;
      padding: var(--s-2sm) var(--s-2md);
      height: auto;
    }
  }

  .gform_next_button {
    width: 100% !important;
    background: var(--c-aubergine) !important;
    border-radius: 2rem !important;
    padding: var(--s-2sm) var(--s-2md) !important;
  }

  .ginput_container.ginput_container_date {
    display: flex;
    input {
      flex: auto;
      margin-right: -8px;
    }
  }

  .gfield_html {
    position: absolute;
    left: 0;
    top: 0;
  }
}
