.elementor-element.list {
  gap: 0;
  &__item {
    display: inline-flex;
    padding-block: var(--s-md);
    border-bottom: solid 1px var(--c-wit);
  }
}

.elementor-element.list-rowlink {
  border-radius: 5rem;
  --c-bg-hover: var(--c-blauw);
  --c-color-hover: var(--c-wit);

  &:hover {
    background-color: var(--c-bg-hover) !important;

    .elementor-widget-heading .elementor-heading-title {
      color: var(--c-color-hover);
    }
  }
}
