@use "breakpoints" as bp;

.elementor-element.list {
  gap: 0;
  &__item {
    display: inline-flex;
    padding-block: var(--s-md);
    border-bottom: solid 1px var(--c-wit);
  }
}

.elementor-element.icon-list {
  .icon-list__item {
    padding: var(--s-lg) var(--s-xl);
    border-radius: var(--br-md);
    gap: 0;

    @include bp.tablet {
      flex-direction: column;
      gap: var(--s-xl);
      padding: var(--s-lg);

      .list__icon {
        width: 2rem;
      }

      .list__left,
      .list__text {
        width: 100%;
      }
    }
  }

  .list__left {
    width: auto;
    flex: 1;

    @include bp.tablet {
      gap: var(--s-lg);
    }
  }

  .list__icon {
    width: 3rem;
  }

  .list__title {
    justify-content: center;
  }

  .list__text {
    width: auto;
    flex: 1;
  }
}

.elementor-element.list--squares {
  ul {
    padding: var(--s-md);
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    list-style: square;

    > li {
      &::marker {
        content: url("../images/list-square.svg");
      }
      padding-left: 1rem;
      padding-right: 2rem;
    }
  }
}

.elementor-element.list-rowlink {
  border-radius: var(--br-full);
  --c-bg-hover: var(--c-blauw);
  --c-color-hover: var(--c-wit);

  .rounded {
    width: 50px;
    aspect-ratio: 1;
  }

  &__title {
    flex: auto !important;
    width: auto !important;
  }

  &__meta {
    flex: none !important;
    width: auto !important;
    padding-inline: var(--s-md);
    gap: 0;

    & > * {
      width: 85px !important;
    }
  }

  @include bp.mobile {
    border-radius: var(--br-md);
    padding: var(--s-sm) var(--s-2md);
    padding-right: 5rem;

    &__meta {
      padding: 0;

      & > * {
        width: 75px !important;
      }
    }

    .btn-chevron {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: var(--s-md);
    }
  }

  &:hover {
    background-color: var(--c-bg-hover) !important;

    .elementor-widget-heading .elementor-heading-title {
      color: var(--c-color-hover);
    }
  }
}
