@use "breakpoints" as bp;

/* Blauw element masking */
.masked {
  --path: url("../images/blauw-element-md-bl.svg");
  -webkit-mask-image: var(--path);
  mask-image: var(--path);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: top left;

  &.masked--xl {
    --path: url("../images/blauw-element.svg");
  }

  &.masked--flipv {
    --path: url("../images/blauw-element-flipv.svg");
  }

  &.masked--fliph {
    --path: url("../images/blauw-element-fliph.svg");
  }

  &--tablet {
    @include bp.tablet {
      --path: url("../images/blauw-element-mob-compact.svg");
    }
  }

  &--mobile {
    @include bp.mobile {
      --path: url("../images/blauw-element-mob-compact.svg");
    }
  }
}
