/* Mobmenu */

.elementor-element.mobmenu {
  --c-background: var(--c-blauw);
  min-height: 100vh;

  &:has(.search-mobile .open),
  &:has(.search-mobile .open) .nav {
    --c-background: var(--c-aubergine);
    background: var(--c-background) !important;

    .js-back .elementor-button {
      background: transparent;
      color: var(--c-licht-blauw-1);
    }
  }
  .mobmenu__header {
    background: var(--c-background) !important;

    .btn--close .elementor-button {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;

      --path: url("../images/blauw-element-cta.svg");
      -webkit-mask-image: var(--path);
      mask-image: var(--path);
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: bottom left;
    }
  }

  .mobmenu__nav {
    margin-bottom: 2.5rem;
    min-height: calc(100dvh - 360px);

    .nav__item {
      padding: 1rem 0;
      gap: 1rem;
    }

    .nav__subnav {
      padding: var(--s-xs) var(--s-2sm) !important;
    }

    /* Accordion items hidden initially */
    .js-nav:not(.open),
    .js-back {
      display: none;
    }

    &:has(.js-nav.open) .nav__item {
      border-width: 0;
    }

    &:has(.js-nav.open) .js-back {
      display: flex;
    }

    /* Hide all non-open nav items */
    &:has(.js-nav.open) .nav__item:not(:has(.js-nav.open)) {
      display: none;
    }
  }

  .nav__card {
    .btn--accordion {
      transition: rotate 0.2s ease;
    }
    &:has(.js-nav.open) .btn--accordion {
      rotate: -90deg;

      .elementor-button {
        background: var(--c-aubergine);
        color: var(--c-wit);
      }
    }

    .btn--link {
      .elementor-button {
        padding: var(--s-2sm) 0;
        font-weight: 500;
        background: none;

        &:hover {
          color: var(--c-aubergine);
        }
      }
      &:last-child {
        margin-top: 1rem;
      }
    }
  }

  // Search
  .js-search-container:not(:has(.js-nav.open)) {
    display: none;
  }
}

/* Elementor Editor */
body.elementor-editor-active .elementor-element.mobmenu {
  .js-nav,
  .search-mobile {
    display: flex !important;
  }
}
