@use "breakpoints" as bp;

/* Navbar hero color switching */

body:has(.hero--aubergine) {
  --c-navbar: var(--c-aubergine);
  --c-navbar-text: var(--c-wit);
  --c-navbar-btn: var(--c-blauw);
  --c-navbar-btn-text: var(--c-wit);
}
body:has(.search-main.open) {
  --c-navbar: var(--c-aubergine);
  --c-navbar-text: var(--c-wit);
  --c-navbar-btn: var(--c-licht-blauw-1);
  --c-navbar-btn-text: var(--c-aubergine);
}
body:has(.search-main.open) .nav {
  height: unset;
}
body:has(.hero--lightblue) {
  --c-navbar: var(--c-wit);
  --c-navbar-text: var(--c-aubergine);
  --c-navbar-btn: var(--c-blauw);
  --c-navbar-btn-text: var(--c-wit);

  .elementor-element.e-con.nav .nav__navbar .logo--wit {
    display: none;
  }
  .elementor-element.e-con.nav .nav__navbar .logo--blauw {
    display: block;
  }
}
body:has(.hero--lightblue2) {
  --c-navbar: var(--c-licht-blauw-2);
  --c-navbar-text: var(--c-aubergine);
  --c-navbar-btn: var(--c-blauw);
  --c-navbar-btn-text: var(--c-wit);

  .elementor-element.e-con.nav .nav__navbar .logo--wit {
    display: none;
  }
  .elementor-element.e-con.nav .nav__navbar .logo--blauw {
    display: block;
  }

  /* Update lang switch color */
  .lang-switch {
    ul > li:first-child {
      border-color: var(--c-aubergine);
    }
    .wpml-ls-link {
      color: var(--c-aubergine) !important;
    }
  }
}
body:has(.hero--photo) {
  --c-navbar: color-mix(
    in srgb,
    var(--c-blauw) calc(min((var(--scroll) / 5) * 1%, 100%)),
    transparent
  );
  --c-navbar-btn: color-mix(
    in srgb,
    var(--c-blauw),
    var(--c-licht-blauw-2) calc(min((var(--scroll) / 5) * 1%, 100%))
  );
  --c-navbar-btn-text: color-mix(
    in srgb,
    var(--c-wit),
    var(--c-aubergine) calc(min((var(--scroll) / 5) * 1%, 100%))
  );

  @include bp.mobile {
    --c-navbar: var(--c-blauw);
    --c-navbar-btn: var(--c-licht-blauw-2);
    --c-navbar-btn-text: var(--c-aubergine);
  }
}

// When menu is open, always blue
body:has(.e-n-menu-content.e-active) {
  --c-navbar: var(--c-blauw);
  --c-navbar-text: var(--c-wit);
  --c-navbar-btn: var(--c-licht-blauw-1);
  --c-navbar-btn-text: var(--c-aubergine);

  .elementor-element.e-con.nav .nav__navbar .logo--wit {
    display: block;
  }
  .elementor-element.e-con.nav .nav__navbar .logo--blauw {
    display: none;
  }

  /* Update lang switch color */
  .lang-switch {
    ul > li:first-child {
      border-color: var(--c-wit);
    }
    .wpml-ls-link {
      color: var(--c-wit) !important;
    }
  }
}

// Subnav
.e-n-menu-content.e-active {
  margin-top: 10px;
}

// Nav wrapper
.elementor.elementor-location-header {
  max-width: 100vw;
  overflow: hidden;
}

/* Navbar */
.elementor-element.e-con.nav {
  background: var(--c-navbar);
  color: var(--c-navbar-text);
  padding-left: var(--s-md);
  padding-right: 0;

  &.nav--mobile {
    height: initial;
  }

  .nav__navbar {
    max-width: var(--w-container-full);
    margin: 0 auto;
  }

  @include bp.tablet {
    .nav__menu {
      display: none !important;
    }
  }

  @include bp.mobile {
    padding-left: 0;
  }

  .nav__brand {
    width: auto;
    flex: none;
    padding-left: 0;

    /* Default logo color */
    .logo--wit {
      display: block;
    }
    .logo--blauw {
      display: none;
    }

    @include bp.mobile {
      padding-left: 0.75rem;
    }
  }

  /* Elementor menu desktop */
  .e-n-menu-title .e-n-menu-title-text {
    color: var(--c-navbar-text) !important;
    cursor: pointer;
  }

  &:has(.e-active) {
    .e-n-menu-title .e-n-menu-title-text {
      opacity: 0.5;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 3.75rem;
      background: rgba(0 0 0 / 0.25);
      backdrop-filter: blur(5px);
    }
  }

  .e-n-menu-item:has(.e-active) {
    .e-n-menu-title .e-n-menu-title-text {
      font-weight: 600;
      opacity: 1;
    }
  }

  .e-n-menu-content > .e-child {
    background: var(--c-navbar);
  }

  .nav__subnav {
    max-width: var(--w-container-full);
    margin: 0 auto;
    padding-inline: var(--s-md);
    padding-block: var(--s-lg);
    gap: var(--s-sm);
  }

  .nav__card {
    --c-card: var(--c-wit);
    --c-title: var(--c-blauw);
    --c-tag: var(--c-aubergine);

    background: var(--c-card);
    border-radius: var(--br-md);
    padding: var(--s-2md);
    gap: var(--s-md);

    .card__title {
      .elementor-heading-title {
        color: var(--c-title);
        font-size: var(--fs-title-xs);
        line-height: var(--lh-title-xs);
      }
    }

    .card__tag {
      color: var(--c-tag);
      opacity: 0.5;

      font-size: var(--fs-tag-s);
      font-weight: 600;
      text-transform: uppercase;

      &--opaque {
        opacity: 1;
      }
    }

    .card__items {
      gap: 0.5rem;

      &:has(.card__item:hover) .card__item {
        opacity: 0.5;
      }

      .card__item:hover {
        .elementor-heading-title {
          font-weight: 600;
        }
        opacity: 1 !important;
      }
    }

    .card__item {
      transition: opacity 0.2s ease;
    }

    &:hover {
      --c-card: var(--c-licht-blauw-1);
      --c-title: var(--c-aubergine);

      .card__tag--opaque .elementor-heading-title {
        color: var(--c-aubergine);
      }
    }
  }

  .nav__cta {
    &:hover {
      --c-navbar-btn: var(--c-navbar-btn-hover);
      --c-navbar-btn-text: var(--c-navbar-btn-text-hover);
    }
    &:after {
      content: "";
      position: absolute;
      left: calc(100% - 1px);
      height: 100%;
      width: 50vw;
      background: var(--c-navbar-btn);
      transition: inherit;
    }
    .elementor-widget-button .elementor-button {
      background: var(--c-navbar-btn);
      color: var(--c-navbar-btn-text);
      border-radius: 0;
      height: 60px;
      display: flex;
      align-items: center;

      --path: url("../images/blauw-element-cta.svg");
      -webkit-mask-image: var(--path);
      mask-image: var(--path);
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: bottom left;
    }
  }
}
