@use "breakpoints" as bp;

/* Section */
.elementor-element.section {
  --section-padding-y: 7.5rem;
  padding-inline: var(--s-md);
  padding-block: var(--section-padding-y);

  &.hero {
    padding-top: var(--s-lg);
  }

  &--compact {
    padding-block: 0;
  }

  &--sm {
    --section-padding-y: 5rem;
  }
  &--xl {
    --section-padding-y: 10rem;
  }

  &--breadcrumbs {
    padding-top: 2rem;
  }

  &--iconlist {
    overflow: hidden;
  }

  @include bp.mobile {
    --section-padding-y: 3rem;

    &--intro {
      padding-inline: var(--s-xl);
    }
  }
}
