/* Swiper */
.section:has(.swiper-full) {
  overflow: hidden;
}
.swiper-full {
  max-width: 100vw;

  .swiper {
    overflow: visible;
  }
}

.elementor-swiper-button {
  background: var(--c-aubergine);
  width: var(--button-icon-size);
  font-size: var(--button-icon-font-size);
  aspect-ratio: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: outline-color 0.2s !important;
  outline: solid 3px transparent;
  outline-offset: -1px;

  &:not(.swiper-button-disabled):hover {
    outline-color: var(--c-aubergine);
  }

  &.elementor-swiper-button-prev:before {
    content: "<";
  }
  &.elementor-swiper-button-next:before {
    content: ">";
  }
}

.swiper--blue {
  .elementor-swiper-button {
    background: var(--c-wit);
    color: var(--c-aubergine);
  }
}

.swiper--clients {
  .swiper-slide {
    &:not(:has(img[alt="onze-klanten"])) {
      background: var(--c-input);
    }
    border-radius: var(--br-md);
    overflow: hidden;
    padding: var(--s-md) var(--s-sm);
    margin: 0 0.5rem;
    width: 10rem !important;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
